{
  "presets": [
    ["env", {
      "targets": {
        "node": 6.5
      },
      "exclude": [
        "transform-regenerator",
        "transform-async-to-generator"
      ]
    }],
    "stage-0"
  ],
  "plugins": [
    ["fast-async", {
      "useRuntimeModule": true
    }]
  ]
}
